{%extends "base.html" %}

{% block title %}Grupos{% endblock %}

{% block content %}

<h2>Lista de Grupos</h2>
<a href="{{url_for('grupos.novo')}}" class="btn">+ Novo Grupo</a>
<br><br>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade de Atletas</th>
        <th>Faixa Etária</th>
    </tr>
    {% for g in grupos %}
    <tr>
        <td>{{ g.nome }}</td>
        <td>
            {% if g.faixa_etaria_minima and g.faixa_etaria_maxima %}
                {{ g.faixa_etaria_minima or '?'}} - {{ g.faixa_etaria_maxima or '?' }} anos
            {% else %}
                Livre
            {% endif %}
        </td>
        <td>{{ g.descricao or '-' }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
