{% extends "base.html" %}
{% block title %}Login | Escolinha{% endblock %}
{% block content %}
<div class="card login-card">
  <h2>Entrar</h2>
  <form method="POST" action="{{ url_for('auth.login') }}" class="form">
    <label>E-mail
      <input type="email" name="email" placeholder="seu@email.com" required />
    </label>
    <label>Senha
      <input type="password" name="senha" placeholder="********" required />
    </label>
    <button type="submit" class="btn">Acessar</button>
  </form>
</div>
{% endblock %}